<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heena.user">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/heena_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/heena_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hena_User"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.PhotoEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.TapPaymentGateway"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TermsAndConditionsActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ZoomableImageActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NoInternetActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.ResetPasswordActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OtpVerificationActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseLoginSignUpActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IntroductionActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseLangActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alniqashauser.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.heena.user.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <service
            android:name=".firebases.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcastreceiver.ConnectivityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>